body {
  background-color:#dedede;
  margin:0;
  padding:0;
}

.container {
  background-color:#fff;
  padding:10px;
  margin:5px;
}

.container p {
  margin:3px 0 3px 0;
  font-size:0.6em;
}

.container h4 {
  margin:0;
  font-size:0.8em;
}

.help {
  font-style: italic;
  font-size:0.4em;
  color:#232323;
}

.centered {
  text-align:center;
}

.indicator {
  padding-left:20px;
  background:url(/images/spinner.gif) no-repeat center left;
}

.item-result {
  border-bottom:#dedede 1px solid;
  padding:5px;
}